.App{
  
  .container{
    max-width: 1300px;
    margin: 0 auto;
    
  }
 
  .content{
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    //justify-content: center;
    //align-items: center;
    .feed{
      width: 50%;
    }
  }
  .register-container, .login-container{
    h1{
      display: flex;
      justify-content: center;
        align-items: center;
    }
    margin-top: 80px;
    display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2%;
      padding: 20px 20px;
      width: 350px;
      box-shadow: 0px 0px 5px -2px #333;
    
      Button {
        width: 100%;
      }
    
      .ant-form-item-required span {
        display: none;
      }
    
      .ant-form-item-required:after {
        display: none;
      }
  }
    .login-form,
    .register-form {
      padding: 20px 20px 0px 20px;
      width: 500px;   
    }
    .home{
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .loading{
      margin-top: 50px;
    }
        .message {
          height: 150px;
          margin-bottom: 20px;
          overflow:auto;
          button {
            color: rgba(0, 115, 255, 0.895);
            background-color: white;
            display: inline;
            cursor: pointer;
          }
        }
    
    .single-info{
      cursor: pointer;
    }
    .notice{
      padding: 10px 10px;
      button{
        background-color:white ;
        text-decoration: underline;
      }
    }
        
}
