.title{
    margin-top: 10px;
    box-shadow: 0px 0px 5px -2px #333;
    text-align: center;
    display: flex;
    align-items: center;
   padding: 5px 20px;
    border-radius: 10px;
   
    img{
        width: 50px;
        height: 50px;
        
    }
    .home-nav{
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; 
    }
    .login-nav {
        border-radius: 10px;
        margin-left: auto;
        padding: 5px 10px;
    }
    .login-info{
        margin-left: auto;
        display:flex;
        justify-content:center;
        align-items: center;
        p{
            margin-bottom: 0;
        }
        .lastname{
           
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .log-out{
        margin: 0px 10px;
    }
    .log-out,.user-info{
        padding:10px ;
        border-radius: 10px;
    }
    
}